body {
    background-color: black;
  }
  
  .header-bar {
    background-color: grey;
    padding: 20px 0;
  }
  
  .img-placeholder {
    background-color: lightgrey;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .project-box {
    background-color: black;
  }
  