body {
    background-color: black;
  }
  
  .header-bar {
    background-color: grey;
    padding: 20px 0;
  }
  
  .img-placeholder {
    background-color: lightgrey;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .content-section {
    padding: 20px;
  }
  